<!DOCTYPE html>
<html>
  <body>
    <h2>Xin chào {{ name }},</h2>
    <p>Bạn vừa yêu cầu đặt lại mật khẩu cho tài khoản tại <b>Sport Clothes</b>.</p>
    <p>Vui lòng nhấp vào link bên dưới để tạo mật khẩu mới:</p>
    <p>
      <a href="http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}?next={{ next_url }}">
        Đặt lại mật khẩu
      </a>
    </p>
    <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email.</p>
    <br>
    <p>Trân trọng,</p>
    <p>Đội ngũ Sport Clothes</p>
  </body>
</html>
