{% extends "index.html" %}
{% load static %}
<!-- Modal -->
{% block modal-reset_password %}
<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__body"> 
    <div class="auth-form">
      <div class="auth-form__container">
        <div class="auth-form__header auth-form__header--reset_password">
            <i class="header__reset_password-icon fa-solid fa-lock"></i>
            <h3 class="auth-form__register">Đặt lại mật khẩu</h3>
        </div>
        <div>
          <span class="auth-form__desc">Nhập email đã đăng ký để nhận liên kết đặt lại mật khẩu.</span>
        </div>
        <form action="{% url 'reset_password' %}?next={{ next|urlencode }}" method="POST">
        {% csrf_token %}
          <div class="auth-form__form">
            <div class="auth-form__group auth-form__group--reset_password">
                <input type="email" id="Email" name="Email" class="auth-form__input" placeholder="Email của bạn" required/>
                {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div class="message {{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
            <div class="reset_password-form__control">
              {% if next %}
              <a href="{{ next }}" class="btn btn--back btn--reset-password">Trở lại</a>
              {% else %}
              <a href="{% url 'main' %}" class="btn btn--back btn--reset-password">Trở lại</a>
              {% endif %}
              <button type="submit" class="btn btn--blue-reset_password">Xác nhận</button>
            </div>
          </div>
        </form>
        <div class="reset_password__guide">
          <div class="reset_password__guide-item">
            <span class="reset_password__guide-text">Bạn chưa có tài khoản? </span>
            <a href="{% url 'signup' %}?next={{ next|urlencode }}" class="reset_password__guide-link">Đăng ký ngay</a>
          </div>
          <div class="reset_password__guide-item">
            <span class="reset_password__guide-text">Cần trợ giúp? </span>
            <a href="{% url 'guide' %}?next={{ next|urlencode }}" class="reset_password__guide-link">Liên hệ hỗ trợ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}